Range function-they providing us the sequence of integers.

In [1]:
range(5)

range(0, 5)

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
range(8)

range(0, 8)

In [4]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
b=list(range(10))

print(b)

for j in b:
    print(j,end=" ")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0 1 2 3 4 5 6 7 8 9

In [9]:
c=list(range(8))

print(c)

[0, 1, 2, 3, 4, 5, 6, 7]

In [10]:
for k in c:
    print(k,end="    ")

0    1    2    3    4    5    6    7

In [14]:
range(6)

for i in range(6):
    print(i,end="   ")

0   1   2   3   4   5

In [19]:
e=list(range(10))

print(e)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
for i in e:
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [22]:
for i in [0,1,2,3,4,5]:
    print(i)

0
1
2
3
4
5

If- Else constructs

In [23]:
marks=90

if marks>50:
    print('very good')
    
else:
    print('not good')

very good

In [24]:
marks=int(input('enter any marks'))

if marks>50:
    print('excellent')
    
else:
    print('not good')

enter any marks100
excellent

In [27]:
marks=40

if marks>20:
    print('Excelent')
else:
    print('poor')

Excelent

In [28]:
marks=40

if marks<20:
    print('Excelent')
else:
    print('poor')

poor

In [29]:
y=int(input('enter any number'))

if y%2==0:
    print('the value of even')
    
else:
    print('the value of odd')

enter any number12
the value of even

In [30]:
x=int(input('please enter any no'))

if x%3==0:
    print('the value is even')  
else:
    print('the value is odd')

please enter any no13
the value is odd

In [32]:
z=int(input('enter any number'))

if z%2!=0:
    print('the value of odd')
    
else:
    print('the value of even')
    

print('end')

enter any number9
the value of odd
end

In [33]:
k=int(input('enter any number'))

if k%2!=0:
    print('the value of k',k,'is odd number')
    
else:
    print('the value of k',k,'is even number')

enter any number10
the value of k 10 is even number

In [41]:
marks=int(input('enter any student marks'))

if marks>=90:
    print('excellent')
elif(marks>=80 and marks<90):
    print('very good')
elif(marks>70 and marks<80):
    print('good')
elif(marks>60 and marks<70):
    print('average')
elif(marks>50 and marks<60):
    print('below average')
else:
    print('poor')

enter any student marks90
excellent

In [43]:
marks = int(input('enter any marks of the student'))

if marks>=95:
    print('excellent marks')
elif(marks>=80 and marks<90):
    print('very good marks')
elif(marks>=70 and marks<80):
    print('good')    
else:
    print('poor')

enter any marks of the student95
excellent marks

In [45]:
marks=int(input('enter marks'))

if marks>=90:
    print('excelent')
elif(marks>=80 and marks<90):
    print('very good')
else:
    print('good')

enter marks50
good

Break function- break function break the loop.

continue function - continue is continue the loop.

In [46]:
for j in [1,2,3,4,5]:
    if j ==4:
        break
    print(j)

1
2
3

In [47]:
for y in [5,6,7,8,9,10]:
    if y==9:
        break
        print(y)

In [50]:
for marks in [30,40,50,60,70]:
    if marks==60:
        break
    print(marks)

30
40
50

In [51]:
for marks in [30,40,50,60,70]:
    if marks==70:
        break
    print(marks)

30
40
50
60

In [52]:
for marks in [30,40,50,60,70]:
    if marks==40:
        break
    print(marks)

30

In [53]:
for j in [1,2,3,4,5]:
    if j ==4:
        continue
    print(j)

1
2
3
5

In [54]:
for marks in [30,40,50,60,70]:
    if marks==40:
        continue
    print(marks)

30
50
60
70

In [55]:
for j in ['apple','mango','banana','orange']:
    if j=='banana':
        break
    print(j)

apple
mango

In [56]:
for j in ['apple','mango','banana','orange']:
    if j=='banana':
        continue
    print(j)

apple
mango
orange

In [57]:
for j in [10,20,30,40,50]:
    if j==40:
        break
    print(j)

10
20
30

In [58]:
for j in [10,20,30,40,50]:
    if j==40:
        continue
    print(j)

10
20
30
50

In [59]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [60]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
for n in range(2,20):
    print(n,end="  ")

2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19

jump in range function

In [62]:
list(range(2,20,5))

[2, 7, 12, 17]

In [63]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [64]:
for j in list(range(1,20,2)):
    print(j)

1
3
5
7
9
11
13
15
17
19

In [65]:
c=list(range(1,20,2))

In [66]:
c

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
for k in c:
    print(k)

1
3
5
7
9
11
13
15
17
19

In [71]:
for i in range(10,100,20):
    print(i)

10
30
50
70
90

In [72]:
d = (list(range(2,20,2)))

In [73]:
d

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [74]:
for i in d:
    print(i)

2
4
6
8
10
12
14
16
18