In [1]:


def myfunct(list1):
    for i in list1:
        print(i)

In [2]:
list1=[10,20,30,40,50]

myfunct(list1)

10
20
30
40
50

In [10]:
def myfunc1(listt):
    for i in listt:
        print(i)

In [12]:
listt=[1,2,3,4,5]

myfunc1(listt)

1
2
3
4
5

In [13]:
def myfunction(list2):
    for i in list2:
        print(i)

In [14]:
list2=[1,2,3,4,5]

myfunction(list2)

1
2
3
4
5

In [15]:
def myfunc(fruitsname):
    for j in fruitsname:
        print(j)

In [16]:
fruitsname=['apple','mango','grapes']

myfunc(fruitsname)

apple
mango
grapes

In [17]:
def myfunc2():
    for i in range(2,10):
        print(i)

In [18]:
myfunc2()

2
3
4
5
6
7
8
9

In [19]:
def myfunc3():
    for i in range(2,21,2):
        print(i)

In [20]:
myfunc3()

2
4
6
8
10
12
14
16
18
20

In [23]:
def myfunc4(planetlist):
    for i in planetlist:
        print(i)

In [24]:
planetlist = ['mercury','venus','earth','mars']

myfunc4(planetlist)

mercury
venus
earth
mars

In [25]:
# return is a capibility to return the value

def testfunction():
    for i in range(10):
        if(i==5):
            return
        print(i)

In [26]:
testfunction()

0
1
2
3
4

In [27]:
def myadd():
    a=10
    b=20
    c=a+b
    return c

In [28]:
returnedvalue=myadd()

In [29]:
returnedvalue

30

In [30]:
def innerfunction():
    print('we are the inner function')

In [31]:
innerfunction()

we are the inner function

In [34]:
def outerfunction():
    innerfunction()
    print('outer function')

In [35]:
outerfunction()

we are the inner function
outer function

In [36]:
def square():
    s=2**2
    return s

In [37]:
sq=square()

In [38]:
sq

4

In [39]:
def multiply():
    u=2*2
    return u

In [40]:
m=multiply()

In [41]:
m

4

In [42]:
def square():
    s=7*7
    return s
    print("the value of s=",s)

In [43]:
sq=square()

In [44]:
sq

49

In [50]:
for i in range(10):
    if (i==6):
        break
    print(i)

0
1
2
3
4
5

In [84]:
def returnfunction():
    for i in range(10):
        if (i==6):
            return

In [85]:
returnfunction()

In [87]:
def squref():
    s=7*7
    return s
    print(s)

In [88]:
squref()

49

In [90]:
sq = squref()

In [91]:
sq

49

In [92]:
def squref():
    s=7*7
    return
    print(s)

In [93]:
squref()

Gloabal and local variable

In [106]:
p=900 # gloabal variable

In [107]:
def testvar():
    global p
    print(p)
    p=70   #<---------local variable
    print(p)

In [108]:
testvar()

900
70

In [109]:
def add1(a,b):
    result=a+b
    print(result)

In [110]:

add1(10,30)

40

In [111]:
def add2(a,b,c):
    result=a+b+c
    print(result)

In [112]:
add2(30,40,50)

120

Variable number of arguments

In [113]:
def plusfunction(*args):
    return sum(args)

In [105]:
# calling a function
plusfunction(10,20,30)

60

In [114]:
plusfunction(2,3,4,5,1)

15

In [115]:
def maxfunction(*args):
    return max(args)

In [116]:
maxfunction(10,20,30,40,50)

50

In [117]:
maxfunction(40,50)

50

In [118]:
maxfunction(50,100,150,200)

200

In [119]:
def minfunction(*args):
    return min(args)

In [120]:
minfunction(5,10,15,20)

5

In [121]:
minfunction(100,150,95,90,180)

90

In [122]:
minfunction(100,15)

15

In [112]:
# s=s+n     for s+=n

def sumfunc(*numbers):
    s=0
    for n in numbers:
        s+=n
    return s

In [113]:
print(sumfunc(1,2))

3

In [114]:
print(sumfunc(1,5,10))

16

In [115]:
print(sumfunc(10,20,30))

60

# lambda function:

A lambda function  is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

lambda function used whenever we are need to work with a small expression , single line expression.

In [124]:
test=lambda x:x*2
test(10)

20

In [125]:
test(20)

40

In [126]:
test2=lambda x,y:x+y
test2(10,20)

30

In [127]:
test2=lambda x,y:x*y
test2(10,20)

200

In [128]:
test2=lambda x,y,z:x*y*z
test2(10,20,30)

6000

In [129]:
test2=lambda x,y,z:x+y+z
test2(10,20,30)

60

In [130]:
test2=lambda x,y:x/y
test2(10,2)

5.0

In [131]:
# find square

test3=lambda x:x**2
test3(8)

64

In [132]:

test3=lambda x:x**2
test3(7)

49

In [133]:
# find squareroot

sqroot=lambda x:x**(1/2)
sqroot(49)

7.0

In [134]:
sqroot=lambda x:x**(1/2)
sqroot(81)

9.0

In [135]:
sqroot=lambda x:x**(1/2)
sqroot(64)

8.0

In [136]:
# find cube

cube=lambda x:x**3
cube(3)

27

In [137]:
cbroot=lambda x:x**(1/3)
cbroot(27)

3.0

In [138]:
cbroot=lambda x:x**(1/3)
cbroot(64)

3.9999999999999996

In [139]:
sqroot(64)

8.0

In [140]:
cbroot(27)

3.0

In [141]:
addvar=lambda arg1,arg2:arg1+arg2
print('the value of total=',addvar(10,5))
print('the value of total=',addvar(20,5))

the value of total= 15
the value of total= 25

In [143]:
testt=lambda x:x*x
testt(10)

100

In [144]:
testt1=lambda x,y:x*y
testt1(10,2)

20

In [145]:
testt2=lambda x,y,z:x*y*z
testt2(10,2,2)

40

In [146]:
testt3=lambda x,y,z:x+y+z
testt3(10,2,2)

14

In [149]:
# find squareroot

sqroott=lambda x:x**(1/2)
sqroott(81)

9.0

In [150]:
cqroott=lambda x:x**(1/3)
cqroott(81)

4.3267487109222245

In [152]:
addvar=lambda arg1,arg2:arg1+arg2
print('the value of total=',addvar(20,5))
print('the value of total=',addvar(25,5))

the value of total= 25
the value of total= 30

In [153]:
#cube

cube=lambda x:x**3
cube(3)

27