# Oops-object oriented programming systems/technology

In [1]:
class student:
    # initializiation/constructure
    def __init__(self,sid,sname):
        self.sid=sid
        self.sname=sname
        
        # member function
    def display(self):
        print('student id=',self.sid,'student name=',self.sname)

In [2]:
#objective/intance creation

stud1=student(10,"jack")

stud1.display()

student id= 10 student name= jack

In [3]:
stud2=student(12,'neha')
stud2.display()

student id= 12 student name= neha

In [4]:
stud1.sid

10

In [5]:
stud2.sid

12

In [6]:
stud1.sname

'jack'

In [7]:
stud2.sname

'neha'

In [8]:
# Intance variable & class variable

In [11]:
class employee:
    def __init__(self,name,age,id,salary):
        self.name=name
        self.age=age
        self.id=id
        self.salary=salary
        
    def display(self):
        print('inside display function')
        print(self.name,self.age,self.id,self.salary)

In [12]:
# object/intance creation

emp1=employee("john",26,101,2000)
emp2=employee("rani",25,102,2500)

emp1.display()
emp2.display()

inside display function
john 26 101 2000
inside display function
rani 25 102 2500

In [13]:
def main():
    emp1=employee("john",26,101,2000)
    emp1.display()
    
def main():
    emp2=employee("rani",25,102,2500)
    emp2.display()

In [14]:
if __name__=="__main__":
    main()
    
if __name__=="__main__":
    main()

inside display function
rani 25 102 2500
inside display function
rani 25 102 2500

In [25]:
class student1:
    def __init__(self,sname,sid):
        self.sname=sname
        self.sid=sid
        
    def display(self):
        print('student name=',self.sname,'student id=',self.sid)

In [26]:
st=student1('John',10)
st.display()

student name= John student id= 10

In [30]:
st1=student1('Andrew',11)
st1.display()

student name= Andrew student id= 11

In [31]:
st1.sid

11

In [33]:
st.sname

'John'

In [44]:
class employee:
    salary=9000 # class variable
    
    def __init__(self,empid,empname,position): # instance variable
        self.empid=empid
        self.empname=empname
        self.position=position
        
    def display(self):
        print('emp id = ',self.empid,'emp name=','position=',self.position)

In [40]:
emp1=employee(200,'lisa','Manager')
emp1.display()

emp id =  200 emp name= position= Manager

In [41]:
emp2=employee(201,'john','director')
emp2.display()

emp id =  201 emp name= position= director

In [42]:
emp2.empid

201

In [43]:
emp2.empname

'john'

In [47]:
employee.salary # it means we can access class variable directly with class name

9000

In [49]:
employee.emp2 # it means we can not access instance variable directly with class name

AttributeError: type object 'employee' has no attribute 'emp2'

In [58]:
class person():
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
        
    def display(self):
        print('Name',self.name,'Age',self.age,'Gender',self.gender)

In [59]:
def main(): # where the instance is created
    p1=person("neha",27,"female")
    p1.display()
    
def main():
    p2=person('venktesh',33,'male')
    p2.display()

In [60]:
if __name__=="__main__":
    main()
    
if __name__=="__main__":
    main()

Name venktesh Age 33 Gender male
Name venktesh Age 33 Gender male

create a class company

In [63]:
class company():
    revenue=80000 # class variable
    def __init__(self,location,name,no_of_emp): # instance variable
        self.location=location
        self.name=name
        self.no_of_emp=no_of_emp

In [64]:
c=company('noida','Molix',50)
print(c.name)
print(c.location)
print(c.no_of_emp)

Molix
noida
50

In [65]:
company.revenue

80000

In [78]:
class Employee:
    def __init__(self,name,age):
        print('initialized method called')
        self.name=name
        self.age=age
        
    def getdata(self,name,age):
        print('get method called')
        self.name=name
        self.age=age
        
    def displaydata(self):
        print('hello',self.name,self.age)

In [79]:
def main():
    e=Employee('willian',29)
    e.displaydata()
    
    e.getdata('john',30)
    e.displaydata()

In [80]:
if __name__=="__main__":
    main()

initialized method called
hello willian 29
get method called
hello john 30

In [84]:
class player:
    
    def __init__(self,name,age,sport):
        print('Players details from initialized method')
        self.name=name
        self.age=age
        self.sport=sport
        
    def getdata(self,name,age,sport):
        print('Players details from get method')
        self.name=name
        self.age=age
        self.sport=sport
        
    def displaydata(self):
        print('Name',self.name,'Age',self.age,'sport',self.sport)

In [89]:
def main():
    p=player('Virat',34,'Cricket') # here initialize will work
    p.displaydata()
    
    p.getdata('dhoni',50,'Cricket') # get method will work
    p.displaydata()
    
    p1=player('Vivan',30,'Cricket')
    p1.displaydata()
    
    p1.getdata('Richad',50,'tennis') # get method will work
    p1.displaydata()

In [90]:
if __name__=="__main__":
    main()

Players details from initialized method
Name Virat Age 34 sport Cricket
Players details from get method
Name dhoni Age 50 sport Cricket
Players details from initialized method
Name Vivan Age 30 sport Cricket
Players details from get method
Name Richad Age 50 sport tennis